.main-addproducts {
  margin-top: 20px;
}

.add-products {
  margin-top: 20px;
}

.search-products input {
  width: 30%;
  height: 50px;
  background-color: blanchedalmond;
  border: none;
}

.main-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
