.detail-page-bla {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://www.printables.se/bilder/printables/kuvert/mitten_burnt.gif);
}
